# Python
__pycache__/
*.egg-info/
pip-wheel-metadata/
.ipynb_checkpoints
.cache
.pytest_cache/
.venv
.eggs/

# System specific files

## Linux
*~
.Trash-*

## macOS
.DS_Store
._*
.Trashes

## Windows
Thumbs.db
[Dd]esktop.ini

## Text Editors
.vscode
.idea/