name: Build
on:
- push
- pull_request
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macOS-latest
        python-version:
        - "3.8"
        - "3.11"
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[dev]"
    # install viz dependencies except on windows due to
    # https://github.com/pygraphviz/pygraphviz/issues/155
    - name: Install viz dependencies
      if: matrix.os != 'windows-latest'
      run: pip install ".[viz]"
    - name: Run pre-commit
      uses: pre-commit/action@v3.0.0
    - name: Test with pytest
      run: pytest --color=yes
